
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-uninett">
                    <div class="footer-content-uninett">
                            <div class="footer-logo"> <img src="/static/uninett-theme/images/Uninett_pil_rod.svg" alt="Uninett logo" type="image/svg+xml"></div>
                            <div class="footer-uninett-department">UNINETT AS &copy; 2017</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
