

body {
    padding-top: 70px;
}

p.itemdesc {
    margin-top: 0px;
    font-size: 80%;
    color: #888;
}


.metadatastatement {
    margin-top:2em;
    margin-bottom:2em;
    border-left: 10px solid #557;
    padding-left: 10px;
}
.metadatastatement h2 {
    color: #600;
    font-weight: bold;
    font-size: 20pt;
}

.ttcol {
    font-family: monospace;
}

.labContainer {
    margin-top: 2em;
}
.labContainer .labEntry {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 1em;

}
.labContainer .labEntry.labMachine {
    border: 2px solid #ccc;
}
.labContainer .labEntry.labSlot {
    border: 3px dashed #ccc;
}
.labContainer .labEntry.labSlot p {
    font-size: 140%;
    margin: 0px;
}

.selectize-control.repositories .selectize-dropdown > div {
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}
		.selectize-control.repositories .selectize-dropdown .by {
			font-size: 11px;
			opacity: 0.8;
		}
		.selectize-control.repositories .selectize-dropdown .by::before {
			content: 'by ';
		}
		.selectize-control.repositories .selectize-dropdown .name {
			font-weight: bold;
			margin-right: 5px;
		}
		.selectize-control.repositories .selectize-dropdown .title {
			display: block;
		}
		.selectize-control.repositories .selectize-dropdown .description {
			font-size: 12px;
			display: block;
			color: #a0a0a0;
			white-space: nowrap;
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.selectize-control.repositories .selectize-dropdown .meta {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 10px;
		}
		.selectize-control.repositories .selectize-dropdown .meta li {
			margin: 0;
			padding: 0;
			display: inline;
			margin-right: 10px;
		}
		.selectize-control.repositories .selectize-dropdown .meta li span {
			font-weight: bold;
		}
		.selectize-control.repositories::before {
			-moz-transition: opacity 0.2s;
			-webkit-transition: opacity 0.2s;
			transition: opacity 0.2s;
			content: ' ';
			z-index: 2;
			position: absolute;
			display: block;
			top: 12px;
			right: 34px;
			width: 16px;
			height: 16px;
			background: url(images/spinner.gif);
			background-size: 16px 16px;
			opacity: 0;
		}
		.selectize-control.repositories.loading::before {
			opacity: 0.4;
		}
